.chat {
  display: flex;
  position: relative;
  padding-top: 1rem;
  height: 12vh;
  text-align: left;
}

.main-text-entry {
  width: 100%;
  border: green;
  border-style: solid;
  border-width: 3px 1px 3px 3px;
  padding: 1rem;

  &:focus {
    outline-color: green;
    outline-style: dashed;
    outline-width: 3px;
    outline-offset: -8px;
  }
}

.beam-button {
  aspect-ratio: 1/1;
  background-color: black;
  color: green;
  border: green;
  border-style: solid;
  border-width: 3px 3px 3px 1px;
  cursor: pointer;

  &:hover {
    background-color: green;
    color: black;
  }

  svg {
    height: 1rem;
    width: 1rem;
    position: relative;
    top: 0.5rem;
  }
}
