.chat-window {
  width: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20rem;
}

.chat-body {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}
